<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Расчет соотношения матрица-наполнитель</title>
</head>
<body>
    <h1 style="color:##000000; font-family:arial;">Расчет соотношения матрица-наполнитель</h1>
    <form action="" method="post">
    <fieldset>
        <legend>Введите параметры</legend>
    <p>
	    <label for="dens">Плотность, кг/м3</label>
	    <input type="text" name="dens" required>
    </p><p>
	    <label for="moe">Модуль упругости, ГПа</label>
	    <input type="text" name="moe" required>
    </p><p>
	    <label for="aoh">Количество отвердителя, м.%</label>
	    <input type="text" name="aoh" required>
    </p><p>
        <label for="coeg">Содержание эпоксидных групп,%_2</label>
	    <input type="text" name="coeg" required>
    </p><p>
        <label for="fp">Температура вспышки, С_2</label>
	    <input type="text" name="fp" required>
    </p><p>
        <label for="sd">Поверхностная плотность, г/м2</label>
	    <input type="text" name="sd" required>
    </p><p>
        <label for="tm">Модуль упругости при растяжении, ГПа</label>
	    <input type="text" name="tm" required>
    </p><p>
        <label for="ts">Прочность при растяжении, МПа</label>
	    <input type="text" name="ts" required>
    </p><p>
        <label for="rc">Потребление смолы, г/м2</label>
	    <input type="text" name="rc" required>
    </p><p>
        <label for="pa">Угол нашивки, град</label>
	    <input type="number" name="pa" min='0' max='90' step='1' required>
    </p><p>
        <label for="ps">Шаг нашивки</label>
	    <input type="text" name="ps" required>
    </p><p>
        <label for="pd">Плотность нашивки</label>
	    <input type="text" name="pd" required>
	</p>
    </fieldset>
	<p>
	    <input type="submit" value="Рассчитать">
        </p>
    </form>
    <p>
    {% if message %}
        <p><b>{{message}}</b></p>
    {% endif %}
    </p>
</body>
<footer>
    <p>
        <a href="{{url_for('choose_prediction_method')}}"></a>
    </p>
</footer>
</html>
